<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Startpage</title>
</head>
<body class="preload">
  <div class="page-wrapper start-page">
      ${require('./section/header.html')}
      <main style="background-image: url('assets/img/example.jpg');" data-src="../assets/img/example.jpg">
            <h1>main</h1>
            ${require('./../assets/icons/html5-brands.svg')}
      </main>
  </div>
</body>
</html>
