$small-desktop-down: 'max-width: 1280px';
$tablet-down: 'max-width: 991px';
$phones-down: 'max-width: 767px';
$small-height-down: 'max-height: 600px';


$phones-up: 'min-width: 768px';
$tablet-up: 'min-width: 992px';
$small-desktop-up: 'min-width: 1281px';
