$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-7: 700;
$z-index-8: 800;
$z-index-9: 900;
$z-index-10: 1000;

// site wrapper
$site-wrapper-width: 2000px;

// big container width
$big-desktop-container-width: 1460px;
$small-desktop-container-width: 1200px;
$tablet-container-width: 950px;

$big-desktop-container-padding: 40px;
$tablet-container-padding: 30px;
$mobile-container-padding: 20px;

$additional-container-padding: 40px;

// medium container width
$big-desktop-container-medium-width: 1160px;
$small-desktop-container-medium-width: 1000px;

//small container width
$big-desktop-container-small-width: 700px;



